<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.tudir.horario">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.iHorario">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Actividad Principal -->
        <activity
            android:name=".ui.actividades.ActivityEventos_ver_add"
            android:label="@string/app_name2"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- Actividad Actualizar -->
        <activity
            android:name=".ui.actividades.UpdateActivity"
            android:label="@string/title_activity_update"
            android:parentActivityName=".ui.actividades.DetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.DetailActivity" />
        </activity>

        <!-- Actividad Detalle -->
        <activity
            android:name=".ui.actividades.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.actividades.ActivityEventos_ver_add"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.ActivityEventos_ver_add" />
        </activity>

        <!-- Actividad Insertar -->
        <activity
            android:name=".ui.actividades.InsertActivity"
            android:label="@string/title_activity_insert"
            android:parentActivityName=".ui.actividades.ActivityEventos_ver_add"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.actividades.ActivityEventos_ver_add" />
        </activity>
        <activity
            android:name=".NavegacionActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.iHorario.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Sugerencias"
            android:label="@string/title_activity_main22"
            android:theme="@style/Theme.iHorario" />
        <activity
            android:name=".RegistrarHorario"
            android:label="@string/title_activity_registrar_horario"
            android:theme="@style/Theme.iHorario" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.actividades.Autentificacion"
            android:label="@string/title_activity_autentificacion"
            android:theme="@style/Theme.iHorario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>